.coin-info-heading {
  padding-top: 1.5rem;
}

.coin-info-desc{
  padding-bottom: 1rem;
  cursor: pointer;
}

.coin-info-desc a{
  
  text-decoration: underline !important;
}

.coin-info-desc a:hover{
  color: var(--blue) !important;
}